<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticket">
	<insert id="insertOne" parameterType="ticketinformation">
		
		<foreach item="item" index="index" collection="reallist" open="INSERT ALL "
			separator=" " close="SELECT * FROM DUAL">
			into ticket2(ticketinfo,listt,stadium,seat,line,paid,user_id,match_year,match_month,match_day) values (
			#{item.ticketinfo,jdbcType=VARCHAR},#{item.listt,jdbcType=VARCHAR},#{item.stadium,jdbcType=VARCHAR},
			#{item.seat,jdbcType=VARCHAR},#{item.line,jdbcType=VARCHAR},0,#{user_id,jdbcType=VARCHAR},
			#{match_year,jdbcType=INTEGER},#{match_month,jdbcType=INTEGER},#{match_day,jdbcType=INTEGER})
		</foreach>

	</insert>
	
	<insert id="payment" parameterType="ticketReservation">
		insert into ticketres (user_id, stadium, user_name, user_phone, money,payday) values (
		#{user_id,jdbcType=VARCHAR},#{stadium,jdbcType=VARCHAR},#{user_name,jdbcType=VARCHAR},
		#{user_phone,jdbcType=VARCHAR},#{money,jdbcType=VARCHAR}, SYSDATE
		)
	</insert>
	
	<update id="comfirm" parameterType="ticketReservation">
		update ticket2 set paid = 1 where user_id = #{user_id,jdbcType=VARCHAR}
	</update>
	
<!-- 	<select id="selectform" resultType="ticketinformation">
		select * from ticket2 where paid = 1 and stadium = #{stadium,jdbcType=VARCHAR} and 
		year = #{year,jdbcType=VARCHAR} and month = #{month,jdbcType=VARCHAR} and day = #{day,jdbcType=VARCHAR}
	</select>
 -->	
 <select id="selectform" resultType="ticketinformation">
		select * from ticket2 where paid = 1
	</select>

	<delete id="delete" parameterType="ticketinformation">
		delete from ticket2 where stadium = #{stadium,jdbcType=VARCHAR}
	</delete>

</mapper>